## Read the data

In [1]:
import pandas as pd
from matplotlib import pyplot as plt


df = pd.read_excel('madrid_rent_data.xlsx')

## Explore the data
df.head()

,Id,District,Address,Number,Area,Rent,Bedrooms,Sq.Mt,Floor,Outer,Elevator,Penthouse,Cottage,Duplex,Semidetached
0,1,Ciudad Lineal,Piso en Quintana,NaN,Quintana,1300,2.0,72,3.0,1.0,1.0,0,0,0,0
1,2,Ciudad Lineal,Piso en calle de Arturo Soria,NaN,Costillares,3000,5.0,260,2.0,1.0,1.0,0,0,0,0
2,3,Ciudad Lineal,Piso en calle de Vicente Muzas,4,Colina,1300,2.0,100,3.0,1.0,1.0,0,0,0,0
3,4,Ciudad Lineal,Piso en calle Badajoz,NaN,San Pascual,1600,3.0,120,4.0,1.0,1.0,0,0,0,0
4,5,Ciudad Lineal,Piso en calle de Nuestra Señora del Villar,9,Ventas,800,2.0,60,3.0,1.0,0.0,0,0,0,0

## Get the data types

In [2]:
df.shape

(2089, 15)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2089 entries, 0 to 2088
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Id            2089 non-null   int64
 1   District      2089 non-null   object
 2   Address       2089 non-null   object
 3   Number        747 non-null    object
 4   Area          2085 non-null   object
 5   Rent          2089 non-null   int64
 6   Bedrooms      2000 non-null   float64
 7   Sq.Mt         2089 non-null   int64
 8   Floor         1948 non-null   float64
 9   Outer         1927 non-null   float64
 10  Elevator      1956 non-null   float64
 11  Penthouse     2089 non-null   int64
 12  Cottage       2089 non-null   int64
 13  Duplex        2089 non-null   int64
 14  Semidetached  2089 non-null   int64
dtypes: float64(4), int64(7), object(4)
memory usage: 244.9+ KB

In [4]:
df.isna().sum()

Id                 0
District           0
Address            0
Number          1342
Area               4
Rent               0
Bedrooms          89
Sq.Mt              0
Floor            141
Outer            162
Elevator         133
Penthouse          0
Cottage            0
Duplex             0
Semidetached       0
dtype: int64

In [5]:
df = df.fillna(0)
df.sample(5)

,Id,District,Address,Number,Area,Rent,Bedrooms,Sq.Mt,Floor,Outer,Elevator,Penthouse,Cottage,Duplex,Semidetached
1296,1359,Centro,Piso en Malasaña-Universidad,0,Malasaña-Universidad,2000,3.0,120,5.0,1.0,1.0,0,0,0,0
1174,1227,Centro,Piso en calle Mancebos,8,Palacio,1350,2.0,75,3.0,1.0,0.0,0,0,0,0
0,1,Ciudad Lineal,Piso en Quintana,0,Quintana,1300,2.0,72,3.0,1.0,1.0,0,0,0,0
352,372,Latina,Piso en calle san ambrosio,0,Los Cármenes,700,2.0,60,3.0,0.0,0.0,0,0,0,0
876,922,Salamanca,Piso en Castellana,0,Castellana,3900,5.0,300,4.0,1.0,1.0,0,0,0,0

## Data Preprocessing

In [6]:
df = pd.get_dummies(df, columns=['District'], drop_first=True)
df = pd.get_dummies(df, columns=['Area'], drop_first=True)

In [7]:
df.sample(5)

,Id,Address,Number,Rent,Bedrooms,Sq.Mt,Floor,Outer,Elevator,Penthouse,...,Area_ZofÁ­o,Area_chalet independiente en Nueva España,Area_en Almagro,Area_en Ciudad Jardín,Area_en El Viso,Area_en Nueva España,Area_en Nuevos Ministerios-Ríos Rosas,Area_en Trafalgar,Area_plaza de España,Area_Águilas
860,906,Ático en Castellana,0,2750,2.0,150,7.0,1.0,1.0,1,...,False,False,False,False,False,False,False,False,False,False
272,286,Casa o chalet independiente en Conde Orgaz-Pio...,0,5000,6.0,475,0.0,0.0,0.0,0,...,False,False,False,False,False,False,False,False,False,False
1502,1570,Piso en Nueva España,0,1750,2.0,96,11.0,1.0,1.0,0,...,False,False,False,False,False,False,False,False,False,False
1854,1941,Piso en Canillejas,0,700,2.0,88,0.0,0.0,1.0,0,...,False,False,False,False,False,False,False,False,False,False
328,345,Piso en Conde Orgaz-Piovera,0,1350,3.0,100,2.0,1.0,1.0,0,...,False,False,False,False,False,False,False,False,False,False

In [8]:
df['sqm_per_bedroom'] = df.apply(lambda row: row['Sq.Mt'] / row['Bedrooms'] if row['Bedrooms'] != 0 else 0, axis=1)

In [9]:
from sklearn.model_selection import train_test_split
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler

X = df.drop(['Id', 'Address', 'Number', 'Rent',
            'District_Barajas', 'District_Villa de Vallecas',
            ], axis=1)


y = df['Rent']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

num_cols = ['sqm_per_bedroom', 'Bedrooms', 'Sq.Mt', 'Floor', 'Outer', 'Elevator', 'Penthouse']
ct = ColumnTransformer(
    transformers=[('num', StandardScaler(), num_cols)],
    remainder='passthrough'
)
X_train_scaled = ct.fit_transform(X_train)
X_test_scaled = ct.transform(X_test)

In [10]:
threshold = 0.66
corr_matrix = X.corr()

# Get pairs
corr_pairs = (
    corr_matrix
    .abs()
    .where(lambda x: x > threshold) # Filter by threshold
    .stack()                        # Convert to Series with MultiIndex
    .reset_index()
)

corr_pairs.columns = ['Variable_1', 'Variable_2', 'Correlation']

# Remove self-correlations and duplicate pairs
corr_pairs = corr_pairs[corr_pairs['Variable_1'] != corr_pairs['Variable_2']]
corr_pairs = corr_pairs[corr_pairs['Variable_1'] < corr_pairs['Variable_2']]  # Keep only one of each pair

# Sort by absolute correlation
corr_pairs = corr_pairs.sort_values('Correlation', ascending=False).reset_index(drop=True)
corr_pairs

   Variable_1         Variable_2  Correlation
0    Bedrooms              Sq.Mt     0.743397
1  Area_Rejas  District_San Blás     0.713713
2  Area_Ibiza    District_Retiro     0.691195